.user-info{

    margin-bottom:40px;

}

.user-info h1{

    font-size:2.6rem;

    margin-bottom:8px;

}

.user-info p{

    color:#b8aeb8;

}

.profile-card{

    margin-top:20px;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.1);

    border-radius:20px;

    padding:25px;

    width:350px;

}

.profile-card h2{

    margin-bottom:10px;

    font-size:1.6rem;

    color:#fff;

}

.profile-card p{

    color:#ccc;

    margin-bottom:8px;

    font-size:15px;

}

@media(max-width:768px){

    .profile-card{

        width:100%;

    }

    .user-info h1{

        font-size:2rem;

    }

}