*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    min-height:100vh;
    font-family:'Inter',sans-serif;
    background:#09040d;
    color:#fff;

    overflow-x:hidden;
    overflow-y:auto;

    position:relative;

    display:flex;
    justify-content:flex-start;
    align-items:flex-start;

    padding-left:8%;
}

/* Pink glow */
body::after{
    content:"";
    position:fixed;

    width:800px;
    height:800px;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    background:
        radial-gradient(
            circle,
            rgba(255,0,140,.16),
            rgba(255,0,140,.06) 35%,
            transparent 70%
        );

    filter:blur(80px);
    z-index:-1;
}

#root{
    width:100%;
}