.home{

min-height:100vh;

width:100%;

}


.main-layout{
    width:100%;
    min-height:100vh;

    display:grid;
    grid-template-columns:1fr 1fr;

    gap:50px;

    padding:120px 60px 40px;
}

.left-panel{
    width:100%;
    min-width:0;
}

.right-panel{
    width:100%;
}