.signup-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}


.signup-card{

    width:400px;

    background:#171717;

    padding:35px;

    border-radius:20px;

    text-align:center;

}


.signup-card h1{

    color:#df8ac5;

    margin-bottom:15px;

}


.signup-card p{

    color:#bbb;

    margin-bottom:25px;

}


.signup-card input{

    width:100%;

    padding:14px;

    margin-bottom:15px;

    border-radius:10px;

    border:none;

}


.signup-card button{

    width:100%;

    padding:14px;

    background:#df8ac5;

    color:white;

    border:none;

    border-radius:10px;

    font-weight:700;

    cursor:pointer;

}