.auth-left{
   width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-right:40px;

    animation:fadeUp .5s ease;
}

.auth-left h1{
     font-size:5.8rem;
line-height:.88;
letter-spacing:-3px;
    font-weight:800;
    margin-bottom:15px;
}

.auth-left h1 span{
    color:#df8ac5;
}

.auth-subtitle{
    color:#b4a7b2;
   margin-bottom:45px;
    font-size:1.1rem;
}

.auth-left label{
    display:block;
    margin-top:22px;
    margin-bottom:10px;
    font-size:.9rem;
    font-weight:700;
    letter-spacing:1px;
}

.auth-left input{
    width:100%;
    height:68px;

    padding:0 20px;

    border-radius:22px;

    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.08);

    color:#fff;
    outline:none;
}

.auth-left input:focus{
    border-color:#df8ac5;
}

.auth-left input::placeholder{
    color:#777;
}

.password-rules{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:18px;
margin-bottom:10px;
}

.password-rules span{
    padding:8px 16px;
    border-radius:999px;

    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.08);

    font-size:.85rem;
}

.login-btn{
    width:100%;
    padding:16px;

    border:none;
    border-radius:16px;

    background:#df8ac5;
    color:white;

    font-size:1rem;
    font-weight:700;

    cursor:pointer;

    margin-top:32px;

    transition:.3s ease;
}

.login-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 0 20px rgba(223,138,197,.3);
}

.back-link{
    text-align:center;
    margin-top:20px;
}

.back-link a{
    color:#df8ac5;
    text-decoration:none;
}

@media(max-width:900px){

    .auth-left h1{
        font-size:3rem;
    }

}
.input-error{
    color:#ff7a7a;
    font-size:.9rem;
    margin-top:8px;
    margin-left:5px;

    animation:fadeError .25s ease;
}

.input-invalid{
    border:1px solid #ff6b6b !important;
    box-shadow:0 0 12px rgba(255,107,107,.25);
}

@keyframes fadeError{
    from{
        opacity:0;
        transform:translateY(-6px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}